@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    flex: 1; */
}

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

/* HEADER */
.header {
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}


/* HERO */
.hero {
    padding-bottom: 40px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 18px;
}

.hero-container button {
    color: #f9faf8;
    background-color: #3882f6;
    width: 110px;
    padding: 8px;
    border-radius: 10px;
}

.hero img {
    border-radius: 10px;
}

/* MAIN CONTENT */
/* .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
} */

/* INFO */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
    padding-bottom: 40px;
}

.info-container {
    display: flex;
    gap: 40px;
}

.info-container img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.item  {
    max-width: 125px;
}

/* QUOTE */
.quote {
    display: flex;
    height: 100px;
    background-color: #e5e7eb;
}