@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

/* HEADER */
.header {
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 28px;
}

/* HERO */
.hero {
    padding-bottom: 40px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 18px;
}

.hero-container button {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 900;
    width: 110px;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.hero img {
    border-radius: 10px;
}

/* INFO */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
}

.info-container {
    display: flex;
    gap: 40px;
}

.info-container img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.item  {
    max-width: 125px;
}

/* QUOTE */
.quote {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.qText,
.quotee {
    max-width: 1000px;
    color: #1f2937;
}

.qText {
    
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.quotee {
    font-size: 20px;
    font-weight: 900;;
    text-align: right;
    width: 100%;
}

/* CALL-ACTION */
.call-action {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    margin: 20px 0px;
}

.container1 {
    display: flex;
    gap: 80px;
    align-items: center;
    background-color: #3882f6;
    padding: 10px 60px;
    border-radius: 10px;
}

.container2 {
    padding: 20px 0px;
}

.call-action h2 {
    margin: 0;
    font-size: large;
}

.call-action p {
    margin: 0;
    font-size: small;
}

.call-action button {
    align-self: center;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4px 12px;
    font-weight: 900;
    border: 2px solid #f9faf8;
}
